// position aside to the left of the main content
.blogPageFlex {
    display: flex;
    flex-direction: row-reverse;
}

// hide button at the end of the blog post until media query 1000px
.asideSlide {
    text-align: right;

    label[for=moreInfo] {
        visibility: hidden;
        display: inline-block;
        color: $pine;
        background: $sunflowerYellow;
        border: 2px solid $pine;
        padding: 5px 7px 0;
        margin: 20px 0;
        
        &:hover, &:focus {
            color: $white;
            background: $almostBlack;
            border: 2px solid $white;
        }
    }
}

input[id=moreInfo] {
    display: none;
}

.asideLabel {
    visibility: hidden;
    margin-left: calc(100% - 30px);

    &:hover, &:focus {
        color: $white;
    }
}

// SECTION aside
.blogAside {
    width: 40vw;
    padding-top: 80px;

    figure {
        width: 80%;
        position: relative;
    
        img {
            position: absolute;
        }
    }
}

.blogAsideText {
    background: $almostBlack;
    width: 70%;
    padding-top: 29vw;
    margin-top: 20px;

    section {
        padding: 30px;

        ul {
            margin-left: 20px;
        }
    }
}
// !SECTION aside

// SECTION main content
.blogPage {
    width: 60vw;
}

.blogSittingArea {
    // height of container should be 2/3 of the height it would be if the image's aspect ratio was 4:3
    height: calc(60vw/2);
    position: relative;

    img {
        width: calc(100% - 20px);
        box-shadow: -20px 20px $sunflowerYellow;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.employment {
    border-left: 3px solid $sunflowerYellow;
    border-bottom: 3px solid $sunflowerYellow;
    padding: 50px 75px 50px;

    h3 {
        padding-left: 4px;
    }

    p {
        padding: 15px 4px;
    }
}

.comments {
    padding: 50px 75px 0 60px;
    
    .commentFlex {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0;

        figure {
            width: 20%;
        }

        .comment {
            margin-left: 15px;
            width: calc(80% - 15px);
        }
    }
}

.commentFlex figure img {
    width: 80%;
}

.comment h3 {
    padding-bottom: 15px;
}
// !SECTION main content