// position aside to the left of the main content
.blogPageFlex {
    display: flex;
    flex-direction: row-reverse;
}

// SECTION aside
.blogAside {
    width: 40vw;
    padding-top: 80px;

    figure {
        width: 80%;
        position: relative;
    
        img {
            position: absolute;
        }
    }
}

.blogAsideText {
    background: $almostBlack;
    width: 70%;
    padding-top: 29vw;
    margin-top: 20px;

    section {
        padding: 30px;

        ul {
            margin-left: 20px;
        }
    }
}
// !SECTION aside

// SECTION main content
.blogPage {
    width: 60vw;
}

.blogSittingArea {
    // height of container should be 2/3 of the height it would be if the image's aspect ratio was 4:3
    height: calc(60vw/2);
    position: relative;

    img {
        width: calc(100% - 20px);
        box-shadow: -20px 20px $sunflowerYellow;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.employment {
    border-left: 3px solid $sunflowerYellow;
    border-bottom: 3px solid $sunflowerYellow;
    padding: 50px 75px 100px;

    h3 {
        padding-left: 4px;
    }

    p {
        padding: 15px 4px;
    }
}

.comments {
    padding: 50px 75px 0 60px;
    
    .commentFlex {
        display: flex;
        padding: 50px 0;

        figure {
            width: 20%;
        }

        .comment {
            margin-left: 15px;
            width: calc(80% - 15px);
        }
    }
}

.commentFlex figure img {
    width: 80%;
}

.comment h3 {
    padding-bottom: 15px;
}
// !SECTION main content