// TODO .contactForm might be a little too wide -> check .commentForm width too
// TODO re-position .contactInfo text
// TODO re-position contact page h1
// REVIEW go though SASS files and NEST things!
// REVIEW main content image for blog -> figure height, come back into the container

.commentForm,
.contactFormContainer {
    width: 70%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form input {
    width: calc(50% - 40px);
    border: none;
    border-bottom: 2px solid $sunflowerYellow;
}

form input,
textarea {
    background: rgba($color: $white, $alpha: 0);
    padding: 20px;
}

form input,
textarea,
button[type=submit] {
    margin: 20px;
}

textarea {
    height: 220px;
}

button[type=submit] {
    display: block;
    background: $sunflowerYellow;
    // padding: 10px;
}

textarea,
button[type=submit] {
    width: 100%;
    border: 2px solid $sunflowerYellow;
}

.contactFormContainer {
    position: relative;
}

.contactForm {
    background: $almostBlack;
    box-shadow: 20px 20px $sunflowerYellow;
    width: 100%;
    padding: 40px;
    position: absolute;
    // REVIEW after positioning of .contactInfo is done
    bottom: 0;
}

.commentForm {
    width: 100%;
    padding-bottom: 50px;
}