.contactFormContainer {
    width: 65%;
}

form {
    display: flex;
    flex-wrap: wrap;

    input {
        width: calc(50% - 40px);
        border: none;
        border-bottom: 2px solid $sunflowerYellow;
    }

    textarea {
        height: 220px;
    }
    
    button[type=submit] {
        display: block;
        background: $sunflowerYellow;

        &:hover, &:focus {
            color: $white;
            background: $almostBlack;
            border: 2px solid $white;
        }
    }

    input, textarea {
        background: rgba($color: $white, $alpha: 0);
        padding: 20px;
    }

    textarea, button[type=submit] {
        width: 100%;
        border: 2px solid $sunflowerYellow;
    }

    input,
    textarea,
    button[type=submit] {
        margin: 20px;
    }

}

.contactFormContainer {
    position: relative;
}

.contactForm {
    background: $almostBlack;
    box-shadow: 20px 20px $sunflowerYellow;
    width: 100%;
    padding: 40px;
    position: absolute;
    // REVIEW after positioning of .contactInfo is done
    bottom: 0;

    button[type=submit] {

        &:hover, &:focus {
            background: $pine;
        }
    }
}

.commentForm {
    width: 100%;
    padding-bottom: 50px;
}