// stripping styles
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}

// COLOUR VARIABLES
$sunflowerYellow: #ffd300;
$white: #ffffff;
$almostBlack: #171b0e;
$pine: #2b331b;
$black: #0f0f0f;

main, aside {
    background-color: $pine;
}