// stripping styles
* {
    margin: 0;
    padding: 0;
}

/* INCLUDE
    html font-size
    wrapper
    overall margin/padding
*/

// COLOUR VARIABLES
$sunflowerYellow: #ffd300;
$white: #ffffff;
$almostBlack: #171b0e;
$pine: #2b331b;
$black: #0f0f0f;

main, aside {
    background-color: $pine;
}