// VARIABLES
// banner images path
$imagePath: "../assets";

// background banners
header {
    // TODO make sure size works on all three pages
    height: 75vh;
}
    // home page
.homeHeader {
    background-image: url(#{$imagePath}/homeHeader.jpg);
}
    // blog page
.blogHeader {
    background-image: url(#{$imagePath}/blogHeader.jpg);
}
    // contact page
.contactHeader {
    background-image: url(#{$imagePath}/contactHeader.jpg);
}


// navigation styles
    // NOTE does the current page stay highlighted in the navBar?
.navBar {
    display: flex;
    list-style: none;
    padding-top: 20px;
    
    a {
        text-decoration: none;
        padding: 15px 30px;
        color: inherit;
    }

    a:hover,
    a:focus {
        border-bottom: 2px solid $sunflowerYellow;
    }
}

// heading styles
h1 {
    width: 40vw;
}

.blogHeader h1,
.contactHeader h1 {
    padding-top: 40px;
}