// VARIABLES
// banner images path
$imagePath: "../assets";

// background banners
header {
    height: 75vh;

    h1 {
        width: 40vw;
    }
}
    // home page
.homeHeader {
    background-image: url(#{$imagePath}/homeHeader.jpg), linear-gradient($pine, $pine);
    background-repeat: no-repeat;
}
    // blog page
.blogHeader {
    background-image: url(#{$imagePath}/blogHeader.jpg), linear-gradient($pine, $pine);
    background-repeat: no-repeat;
}
    // contact page
.contactHeader {
    background-image: url(#{$imagePath}/contactHeader.jpg), linear-gradient($pine, $pine);
    background-repeat: no-repeat;
}

.blogHeader h1,
.contactHeader h1 {
    padding-top: 40px;
}

// navigation styles
.navBar {
    
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        a {
            text-decoration: none;
            padding: 15px 30px;
            color: inherit;
        }
    
        a:hover, a:focus {
            border-bottom: 2px solid $sunflowerYellow;
        }
    }
}

// drop down menu styles
header input {
    visibility: hidden;

}

.menuToggle {
    visibility: hidden;

    span {
        display: block;
        background: $white;
        border-radius: 5px;
        width: 40px;
        height: 5px;
        margin-bottom: 5px;
        // position: relative;
        // go through each element that will transition and determine timing, etc.
        transition: transform 1s, background 0.5s;
    }
}

input:checked + .menuToggle label span {
    transform: rotate(45deg) translate(4px, 10px);
    // background: $almostBlack;
}

input:checked + .menuToggle label span:nth-child(2) {
    transform: rotate(0deg);
    opacity: 0;
}

input:checked + .menuToggle label span:last-child {
    transform: rotate(-45deg) translate(4px, -10px)
}