// SECTION header
    /* TODO
        - decrease font-size?
        - increase width that h1 takes up?
        - navBar becomes hamburger menu
            - sliding menu
            - tablet layout (1000px)
    */
    // NOTE BACKGROUND IMAGES???
    // SECTION home page
        /* REVIEW
            - 496px
                - "Restaurant" starts to hide
        */
    // !SECTION home page
    // SECTION blog page
        // NOTE no issues
    // !SECTION blog page
    // SECTION contact page
        /* REVIEW
            - 600px
                - becomes 3 lines
        */
    // !SECTION contact page
// !SECTION header

// SECTION home page
    // SECTION about
        /* REVIEW
            - 600px
                - h2: 2.7rem
                - p: 1.6rem, p0
                - figure: 75vw?
        */
    // !SECTION about
    // SECTION blog
        /* REVIEW
            - 600px
                - text-align centre for text cards
                - figures to 75vw?
        */
    // !SECTION blog
    // SECTION contest
        /* REVIEW
            - 600px
                - decrease top/bottom padding?
        */
    // !SECTION contest
    // SECTION nature
        /* REVIEW
            - 600px
                - decrease top/bottom padding?
                - reposition squareImage
                - either:
                    - change font-size of h2
                    - change line-height and centre h2
        */
    // !SECTION nature
    // SECTION gallery
        // NOTE complete
    // !SECTION gallery
// !SECTION home page

// SECTION blog page
    // SECTION main content
        /* TODO
            - width: 100% when aside becomes a slide out
        */

        // SECTION figure
            /* REVIEW
                - image position when main content has 100vw
            */
        // !SECTION figure
        // SECTION employment
            /* TODO
                - no side border when aside becomes a slide out
            */
            /* REVIEW
                - font-sizes when main content has 100vw
            */
        // !SECTION employment
        // SECTION comments
            // NOTE no issues
        // !SECTION comments
        // SECTION comment form
            /* TODO
                - name input over email input on mobile view
            */
        // !SECTION comment form
    // !SECTION main content
    // SECTION aside
        /* REVIEW does it make sense to make the aside a slide out?
            - "more info" button at the end of "Employment Opportunities"
            - maybe 1000px
        */
    // !SECTION aside
// !SECTION blog page

// SECTION contact page
    // SECTION contact info
        /* REVIEW
            - 600px
                - contact info should be stacked on top of each other again
        */
    // !SECTION contact info
    // SECTION contact form
        /* TODO
            - name input over email input on mobile view
        */
        /* REVIEW
            - 600px
                - name and email inputs should be stacked
        */
    // !SECTION contact form
// !SECTION contact page

@media (max-width: 1317px) {
    // SECTION home page
        // increase top padding for about section
    .about {
        padding-top: 225px;

        figure {
            bottom: 625px;
        }
    }

        // decrease font sizes for blog section
    .textCard {
        
        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.6rem;
            padding: 10px 10%;
        }

        a {
            font-size: 2rem;
            margin: 10px 10%;
        }
    }

        // decrease font size for h2 in nature section
    .natureText {
        h2 {
            font-size: 4rem;
        }
    }
    // !SECTION home page
}

@media (max-width: 1183px) {
    // SECTION home page
        // set image to centre of about section, decrease about section padding
    .about {
        padding-top: 80px;

        figure {
            position: static;
            margin: 30px auto 0;
        }
    }

        // switch blog section to vertical layout
    .blogSection {
        
        .textCard, figure {
            width: 100%;
            margin: 0;
        }

        figure {
            height: calc(100vw/4);

            img {
                width: 50%;
            }
        }

        .textCard {
            padding: 0;

            p {
                padding: 10px 0;
            }

            a {
                margin: 10px 0;
            }

            &.card2 {
                text-align: right;
            }

            &.card3 {
                text-align: left;
            }
        }
    }

        // switch nature section to vertical layout, overlap squareImage over banner
    .natureImage {
        width: 40%;
        margin: 0;
        
        img {
            width: 100%;
            bottom: -150px;
            left: 20px;
        }
    }

    .natureText {
        width: 100%;
        text-align: center;
        padding: 0;

        h2 {
            text-align: right;
            padding-left: 52%;
        }
    }
    // !SECTION home page
}
    
@media (max-width: 1000px) {
    // SECTION navigation
        // navbar to sliding menu
    // !SECTION navigation
    
    // SECTION home page
        // set width of text cards to 100% so they stack on top of each other in about section
    .aboutFlex {
        // REVIEW location of icons
        section {
            width: 100%;
        }
    }
    
        // decrease font sizes for h2, paragraph, and anchor in contest and nature sections
    .contest, .nature {
        
        h2 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1.6rem;
            padding: 0;
        }
    }

    .findOutMore {
        font-size: 1.8rem;
    }

        // reposition squareImage in nature section
    .natureImage {

        img {
            bottom: -10px;
            // for better visibility:
            border: 0.5px solid $sunflowerYellow;
        }
    }

    .natureText {

        h2 {
            padding: 0;
        }
    }
        
        // stack images vertically in gallery section
    .gallery {
        figure {
            width: 100%;
            margin: 20px 0;
        }
    }
    // !SECTION home page

    // SECTION blog page
        // blog page aside / blog page main content
    // !SECTION blog page
    
    // SECTION contact page
        // change the flex direction of the content on the contact page
    .contactBody {
        flex-direction: column;
    }

    .contactInfo, .contactFormContainer {
        width: 100%;
    }

        // split contact info into two columns above the contact form
    .contactInfo {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        text-align: right;

        .mailingAddress {
            margin: 0;
        }
    }

        // change position of contact form to position static
    .contactForm {
        position: static;
    }
    // !SECTION contact page
}


/* MEDIA QUERY VALUES
    - 600px
        - contact page header
        - home page header
        - home page blog section
        - home page about section
        - footer font size?
        - contact page info
        - contact page form
*/
