// SECTION header
    /* TODO
        - decrease font-size?
        - increase width that h1 takes up?
        - navBar becomes hamburger menu
            - sliding menu
            - tablet layout (1000px)
    */
    // NOTE BACKGROUND IMAGES???
    // SECTION home page
        /* REVIEW
            - 496px
                - "Restaurant" starts to hide
        */
    // !SECTION home page
    // SECTION blog page
        // NOTE no issues
    // !SECTION blog page
    // SECTION contact page
        /* REVIEW
            - 600px
                - becomes 3 lines
        */
    // !SECTION contact page
// !SECTION header

@media (max-width: 1317px) {
    // SECTION home page
        // increase top padding for about section
    .about {
        padding-top: 225px;

        figure {
            bottom: 625px;
        }
    }

        // decrease font sizes for blog section
    .textCard {
        
        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.6rem;
            padding: 10px 10%;
        }

        a {
            font-size: 2rem;
            margin: 10px 10%;
        }
    }

        // decrease font size for h2 in nature section
    .natureText {
        h2 {
            font-size: 4rem;
        }
    }
    // !SECTION home page
}

@media (max-width: 1183px) {
    // SECTION home page
        // set image to centre of about section, decrease about section padding
    .about {
        padding-top: 80px;

        figure {
            position: static;
            margin: 30px auto 0;
        }
    }

        // switch blog section to vertical layout
    .blogSection {
        
        .textCard, figure {
            width: 100%;
            margin: 0;
        }

        figure {
            height: calc(100vw/4);

            img {
                width: 50%;
            }
        }

        .textCard {
            padding: 0;

            p {
                padding: 10px 0;
            }

            a {
                margin: 10px 0;
            }

            &.card2 {
                text-align: right;
            }

            &.card3 {
                text-align: left;
            }
        }
    }

        // switch nature section to vertical layout, overlap squareImage over banner
    .natureImage {
        width: 40%;
        margin: 0;
        
        img {
            width: 100%;
            bottom: -150px;
            left: 20px;
        }
    }

    .natureText {
        width: 100%;
        text-align: center;
        padding: 0;

        h2 {
            text-align: right;
            padding-left: 52%;
        }
    }
    // !SECTION home page
}
    
@media (max-width: 1000px) {
    // SECTION navigation
        // create drop down menu
        // make hamburger menu visible
        .menuToggle {
            visibility: visible;

            label[for=dropDownMenu] {
                padding: 10px;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
            }
        }

        // change navbar layout to vertical and fix the position so the menu can be accessed at any time on the page
    .navBar {
        background: $sunflowerYellow;
        width: 85vw;
        position: fixed;
        top: -300px;
        transition: top 1s;
        z-index: 20;

        li {
            width: 100%;
            
            a {
                display: inline-block;
                width: 100%;
                color: $almostBlack;
                border-bottom: 3px solid $almostBlack;
                transition: all 0.5s;

                &:hover, &:focus {
                    background: $pine;
                    text-transform: uppercase;
                    color: $white;
                    border-bottom: 3px solid $white;
                }
            }
        }
    }

        // drop menu down when hamburger menu is clicked
    header input:checked ~ .navBar {
        top: 0;
    }
    // !SECTION navigation

    // SECTION header
        // shift background image position so object can be seen on all screens
        header {
            background-position: 35%;
        }
    // !SECTION header
    
    // SECTION home page
        // set width of text cards to 100% so they stack on top of each other in about section
    .aboutFlex {
        // REVIEW location of icons
        section {
            width: 100%;
        }
    }
    
        // decrease font sizes for h2, paragraph, and anchor in contest and nature sections
    .contest, .nature {
        
        h2 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1.6rem;
            padding: 0;
        }
    }

    .findOutMore {
        font-size: 1.8rem;
    }

        // reposition squareImage in nature section
    .natureImage {

        img {
            bottom: -10px;
            // for better visibility:
            border: 0.5px solid $sunflowerYellow;
        }
    }

    .natureText {

        h2 {
            padding: 0;
        }
    }
        
        // stack images vertically in gallery section
    .gallery {
        figure {
            width: 100%;
            margin: 20px 0;
        }
    }
    // !SECTION home page

    // SECTION blog page
        // blog page aside / blog page main content
        // make more info labels visible
    .asideSlide {

        label[for=moreInfo] {
            visibility: visible;
        }
    }

    .asideLabel {
        visibility: visible;
    }

        // slide aside section out of view
    .blogPageFlex {
        position: relative;
    }
    .blogAside {
        border: 3px solid $sunflowerYellow;
        border-left: none;
        width: 55vw;
        position: absolute;
        left: -55vw;
        bottom: 930px;
        transition: all 1s;

        h2 {
            font-size: 2rem;
        }

        p, ul {
            font-size: 1.6rem;
        }

    }

    .blogAsideText {
        padding-top: 36vw;
    }
    
        // bring aside section back into view when more info label is clicked
    input[id=moreInfo]:checked + .blogAside {
        left: 0;
    }

        // main content should fill the width of the screen, decrease figure size, remove left border
    .blogPage {
        width: 100%;

        figure img {
            width: 75%;
        }

        .employment {
            border-left: none;
        }
    }
    // !SECTION blog page
    
    // SECTION contact page
        // change the flex direction of the content on the contact page
    .contactBody {
        flex-direction: column;
    }

    .contactInfo, .contactFormContainer {
        width: 100%;
    }

        // split contact info into two columns above the contact form
    .contactInfo {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        text-align: right;

        .mailingAddress {
            margin: 0;
        }
    }

        // change position of contact form to position static
    .contactForm {
        position: static;
    }
    // !SECTION contact page
}

@media (max-width: 600px) {
    // SECTION navigation
        // fix drop down menu to the right so the hamburger icon does not overlap the menu
    .navBar {
        right: 0;
    }
    // !SECTION navigation

    // SECTION header
        // decrease header font
    h1 {
        font-size: 4rem;

        span {
            height: 4rem;
        }
    }
    // !SECTION header

    // SECTION home page
        // decrease font sizes and increase figure size in about section
    .about {
        
        section {

            h2 {
                font-size: 2.7rem;
            }
    
            p {
                font-size: 1.6rem;
                text-align: center;
                padding: 0;
            }
        }

        figure {
            width: 75vw;
        }
    }

        // centre align text in text cards and increase figure size in blog section
    .blogSection {
        
        figure img {
            width: 300px;
        }
        
        .textCard.card2,
        .textCard.card3 {
            text-align: center;
            
            & h2 {
                font-size: 2.7rem;
                padding: 0;
            }
            
            & a {
                font-size: 1.6rem;
            }
        }
    }
    
    .homePageBurger img {
        top: -125px;
    }

    .homePageGazpacho img {
        bottom: auto;
    }

        // centre heading and change figure width in nature section
    .natureText h2 {
        text-align: center;
        line-height: 45px;
        padding: 45px 0;
    }

    .natureImage {
        width: 150px;
    }    
    // !SECTION home page

    // SECTION blog page
        // increase image width
    .blogPage {
        
        figure img {
            width: calc(100% - 20px);
        }
    }

        // change font sizes in employment and comments sections
    .employment, .comments {
        padding: 25px 20px;
        text-align: center;

        h2 {
            font-size: 3.5rem;
        }

        p, label {
            font-size: 1.6rem;
        }
    }

        // change figure and comment width and margin
    .comments {

        .commentFlex {
            padding: 25px 0;

            figure {
                width: 50%;
                margin: 10px auto;
            }

            .comment {
                width: 100%;
                margin: 0;
            }
        }
    }

        // stack form inputs vertically for blog page form and contact page form
    form {

        input {
            width: 100%;
        }

        input, textarea {
            margin: 20px 0;
        }
    }

        // aside section: increase top padding, width, and position from the bottom
    .blogAside {
        width: 100vw;
        left: -100vw;
        bottom: 1225px;
    }

    // !SECTION blog page

    // SECTION contact page
        // decrease body padding
    .contactBody {
        padding: 80px 0 100px;
    }

        // contact info should be stacked vertically, decrease paragraph font size
    .contactInfo {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-bottom: 50px;

        p {
            font-size: 1.6rem;
        }

        .socialMedia {
            margin: 0 auto;
            padding-bottom: 10px;
        }
    }
    
        // decrease padding and box-shadow on contact page form
    .contactForm {
        padding: 20px;
        box-shadow: 15px 15px $sunflowerYellow;
    }
    // !SECTION contact page

    // SECTION footer
        // decrease footer font size
    body footer {
        font-size: 1.6rem;

        a {
            font-size: inherit;
        }
    }
    // !SECTION footer
}
