// FONT VARIABLES
$mainFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Barlow', sans-serif;

body {
    font-family: $mainFont;
    color: $white;
    font-weight: 400;
    h3, p, footer, aside ul {
        font-family: $bodyFont;
        font-size: 2rem;
        line-height: 28px; // TODO determine ratio
        letter-spacing: 1px; // TODO determine ratio?
    }
    a {
        font-size: 2.24rem;
        color: inherit;
        text-align: center; // REVIEW
        text-decoration: none;
        line-height: 41.6px;
    }
}

h1, h2,
.readMore,
button[type=submit] {
    text-transform: uppercase;
}

// font sizes
nav {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 29px; // TODO determine ratio
    letter-spacing: 1px; // TODO determine ratio?
}

h1 {
    font-size: 6.9rem;
    font-weight: 600;

    span {
        display: inline-block;
        background: $white;
        color: $almostBlack;
        height: 6.9rem;
    }
}


h3 {
    font-weight: bold;
}

.heading {
    font-size: 4.5rem;
    font-weight: inherit;
    line-height: 99.8px; // TODO determine ratio
    &--small {
        font-size: 4rem;
        font-weight: inherit;
        line-height: 58px; // TODO determine ratio
        letter-spacing: 1.3px; // TODO determine ratio?
    }
}

.contest h2,
.nature h2,
.employment h2,
.comments h3,
.socialMedia {
    color: $sunflowerYellow;
}

aside h2 {
    font-size: 2.5rem;
    font-weight: inherit;
    color: $sunflowerYellow;
    line-height: 58px; // TODO determine ratio
    letter-spacing: 0.8px; // TODO determine ratio?
}

.socialMedia {
    font-size: 25px;
    width: 155px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

// forms
form input, textarea {
    color: $white;
    font-family: $bodyFont;
    font-size: 2rem;
    letter-spacing: 1px; // TODO determine ratio?

    &:focus {
        color: $almostBlack;
        background: $white;
    }
}

button[type=submit] {
    font-family: $mainFont;
    font-size: 2.24rem;
    text-align: center; // REVIEW
    text-decoration: none;
    line-height: 41.6px;
}

.commentForm button[type=submit] {
    color: $pine;
}

.contactForm button[type=submit] {
    color: $almostBlack;
}

::placeholder {
    color: $white;
    font-family: $bodyFont;
    font-size: 2rem;
    letter-spacing: 1px; // TODO determine ratio?
    // to make the font color appear white on Firefox:
    opacity: 1;
}