// FONT VARIABLES
$mainFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Barlow', sans-serif;

body {
    font-family: $mainFont;
    color: $white;
    p, footer {
        font-family: $bodyFont;
    }
}