@import 'setup';
@import 'global';
@import 'typography';

// sections
@import 'header';
@import 'main';
@import 'blog';
@import 'forms';


footer {
    background: $black;
    text-align: center;

    a:hover, a:focus {
        color: $sunflowerYellow;
    }
}

// media queries
@import 'mediaQueries';

/* REVIEW
    MAYBE USE TRANSITIONS ON THINGS THAT CHANGE?
        - navBar
*/