html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}

main, aside {
  background-color: #2b331b;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

body h3, body p, body footer, body aside ul {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

body a {
  font-size: 2.24rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
  line-height: 41.6px;
}

h1, h2,
.readMore,
button[type=submit],
label[for=moreInfo] {
  text-transform: uppercase;
}

nav {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

h1 {
  font-size: 6.9rem;
  font-weight: 600;
}

h1 span {
  display: inline-block;
  background: #ffffff;
  color: #171b0e;
  height: 6.9rem;
}

h3 {
  font-weight: bold;
}

.heading {
  font-size: 4.5rem;
  font-weight: inherit;
  line-height: 99.8px;
}

.heading--small {
  font-size: 4rem;
  font-weight: inherit;
  line-height: 58px;
  letter-spacing: 1.3px;
}

.contest h2,
.nature h2,
.employment h2,
.comments h3,
.socialMedia {
  color: #ffd300;
}

aside h2 {
  font-size: 2.5rem;
  font-weight: inherit;
  color: #ffd300;
  line-height: 58px;
  letter-spacing: 0.8px;
}

.socialMedia {
  font-size: 25px;
  width: 155px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asideLabel {
  color: #ffd300;
}

form input, textarea {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

form input:focus, textarea:focus {
  color: #171b0e;
  background: #ffffff;
}

button[type=submit],
label[for=moreInfo] {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.24rem;
  text-align: center;
  text-decoration: none;
  line-height: 41.6px;
}

.commentForm button[type=submit] {
  color: #2b331b;
}

.contactForm button[type=submit] {
  color: #171b0e;
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  opacity: 1;
}

::placeholder {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  opacity: 1;
}

header {
  height: 75vh;
}

header h1 {
  width: 40vw;
}

.homeHeader {
  background-image: url(../assets/homeHeader.jpg), -webkit-gradient(linear, left top, left bottom, from(#2b331b), to(#2b331b));
  background-image: url(../assets/homeHeader.jpg), linear-gradient(#2b331b, #2b331b);
  background-repeat: no-repeat;
}

.blogHeader {
  background-image: url(../assets/blogHeader.jpg), -webkit-gradient(linear, left top, left bottom, from(#2b331b), to(#2b331b));
  background-image: url(../assets/blogHeader.jpg), linear-gradient(#2b331b, #2b331b);
  background-repeat: no-repeat;
}

.contactHeader {
  background-image: url(../assets/contactHeader.jpg), -webkit-gradient(linear, left top, left bottom, from(#2b331b), to(#2b331b));
  background-image: url(../assets/contactHeader.jpg), linear-gradient(#2b331b, #2b331b);
  background-repeat: no-repeat;
}

.blogHeader h1,
.contactHeader h1 {
  padding-top: 40px;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.navBar ul a {
  text-decoration: none;
  padding: 15px 30px;
  color: inherit;
}

.navBar ul a:hover, .navBar ul a:focus {
  border-bottom: 2px solid #ffd300;
}

header input {
  visibility: hidden;
}

.menuToggle {
  visibility: hidden;
}

.menuToggle span {
  display: block;
  background: #ffffff;
  border-radius: 5px;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  -webkit-transition: background 0.5s, -webkit-transform 1s;
  transition: background 0.5s, -webkit-transform 1s;
  transition: transform 1s, background 0.5s;
  transition: transform 1s, background 0.5s, -webkit-transform 1s;
}

input:checked + .menuToggle label span {
  -webkit-transform: rotate(45deg) translate(4px, 10px);
          transform: rotate(45deg) translate(4px, 10px);
}

input:checked + .menuToggle label span:nth-child(2) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
}

input:checked + .menuToggle label span:last-child {
  -webkit-transform: rotate(-45deg) translate(4px, -10px);
          transform: rotate(-45deg) translate(4px, -10px);
}

.about {
  padding: 200px 0 150px;
  position: relative;
}

.about figure {
  width: 50vw;
  position: absolute;
  right: 0;
  bottom: 600px;
}

.about .heading {
  position: relative;
  padding-left: 70px;
}

.about .heading::after {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-size: 50px;
  font-weight: 900;
  color: #ffd300;
  position: absolute;
  left: 0;
}

.about .heading.location::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 16px;
}

.about .heading.community::before {
  content: "\f0c0";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 9.5px;
}

.about .heading.blog::before {
  content: "\f15b";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 16px;
}

.about .heading.phone::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 12px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutFlex section {
  width: 50%;
}

.aboutFlex section p {
  padding-left: 72px;
  padding-right: 20px;
}

.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #171b0e;
  padding-bottom: 35px;
}

.blogSection .textCard, .blogSection figure {
  width: calc(50% - 20px);
}

.blogSection figure {
  position: relative;
}

.homePageBurger, .card3 {
  margin-right: 20px;
}

.homePageGazpacho, .card2 {
  margin-left: 20px;
}

.homePageBurger img {
  width: 90%;
  -webkit-box-shadow: 20px 20px #ffd300;
          box-shadow: 20px 20px #ffd300;
  position: absolute;
  top: -57px;
  left: 0;
}

.homePageGazpacho img {
  width: 85%;
  -webkit-box-shadow: -20px 20px #ffd300;
          box-shadow: -20px 20px #ffd300;
  position: absolute;
  right: 0;
  bottom: -55px;
}

.textCard {
  padding-top: 62px;
}

.textCard p {
  padding: 20px 10%;
}

.card3 {
  text-align: right;
}

.card3 h2 {
  padding-right: 10%;
}

.card3 a {
  margin-right: 10%;
}

.card2 h2 {
  padding-left: 10%;
}

.card2 a {
  margin-left: 10%;
}

.readMore {
  display: inline-block;
  color: #171b0e;
  background: #ffd300;
  border: 2px solid #171b0e;
  padding: 5px 7px 0;
  margin: 20px 0;
}

.readMore:hover, .readMore:focus {
  color: #ffffff;
  background: #2b331b;
  border: 2px solid #ffffff;
}

.contest {
  padding: 100px 0;
  text-align: center;
}

.contest p {
  padding: 0 60px;
}

.findOutMore {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  background: #0f0f0f;
  border: 2px solid #2b331b;
  margin-top: 40px;
  padding: 5px 20px 0;
}

.findOutMore:hover, .findOutMore:focus {
  color: #171b0e;
  background: #ffd300;
  border: 2px solid #171b0e;
}

.natureFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.natureImage {
  width: calc(35% - 90px);
  margin: 25px 45px;
  position: relative;
}

.natureImage img {
  width: 90%;
  -webkit-box-shadow: -20px 20px #ffd300;
          box-shadow: -20px 20px #ffd300;
  position: absolute;
  right: 0;
}

.natureText {
  width: 65%;
  padding-left: 55px;
}

.gallery {
  background: #171b0e;
  padding: 80px 0;
}

.gallery figure {
  width: calc((100%/3) - 30px);
  margin: 0 15px;
}

.gallery figure:last-of-type {
  margin-right: 0;
}

.galleryImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 200px;
}

.contactInfo {
  width: 35%;
  padding-left: 40px;
  padding-right: 15px;
}

.mailingAddress {
  margin-top: 30px;
}

.blogPageFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.asideSlide {
  text-align: right;
}

.asideSlide label[for=moreInfo] {
  visibility: hidden;
  display: inline-block;
  color: #2b331b;
  background: #ffd300;
  border: 2px solid #2b331b;
  padding: 5px 7px 0;
  margin: 20px 0;
}

.asideSlide label[for=moreInfo]:hover, .asideSlide label[for=moreInfo]:focus {
  color: #ffffff;
  background: #171b0e;
  border: 2px solid #ffffff;
}

input[id=moreInfo] {
  display: none;
}

.asideLabel {
  visibility: hidden;
  margin-left: calc(100% - 30px);
}

.asideLabel:hover, .asideLabel:focus {
  color: #ffffff;
}

.blogAside {
  width: 40vw;
  padding-top: 80px;
}

.blogAside figure {
  width: 80%;
  position: relative;
}

.blogAside figure img {
  position: absolute;
}

.blogAsideText {
  background: #171b0e;
  width: 70%;
  padding-top: 29vw;
  margin-top: 20px;
}

.blogAsideText section {
  padding: 30px;
}

.blogAsideText section ul {
  margin-left: 20px;
}

.blogPage {
  width: 60vw;
}

.blogSittingArea {
  height: calc(60vw/2);
  position: relative;
}

.blogSittingArea img {
  width: calc(100% - 20px);
  -webkit-box-shadow: -20px 20px #ffd300;
          box-shadow: -20px 20px #ffd300;
  position: absolute;
  right: 0;
  bottom: 0;
}

.employment {
  border-left: 3px solid #ffd300;
  border-bottom: 3px solid #ffd300;
  padding: 50px 75px 50px;
}

.employment h3 {
  padding-left: 4px;
}

.employment p {
  padding: 15px 4px;
}

.comments {
  padding: 50px 75px 0 60px;
}

.comments .commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.comments .commentFlex figure {
  width: 20%;
}

.comments .commentFlex .comment {
  margin-left: 15px;
  width: calc(80% - 15px);
}

.commentFlex figure img {
  width: 80%;
}

.comment h3 {
  padding-bottom: 15px;
}

.contactFormContainer {
  width: 65%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form input {
  width: calc(50% - 40px);
  border: none;
  border-bottom: 2px solid #ffd300;
}

form textarea {
  height: 220px;
}

form button[type=submit] {
  display: block;
  background: #ffd300;
}

form button[type=submit]:hover, form button[type=submit]:focus {
  color: #ffffff;
  background: #171b0e;
  border: 2px solid #ffffff;
}

form input, form textarea {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
}

form textarea, form button[type=submit] {
  width: 100%;
  border: 2px solid #ffd300;
}

form input,
form textarea,
form button[type=submit] {
  margin: 20px;
}

.contactFormContainer {
  position: relative;
}

.contactForm {
  background: #171b0e;
  -webkit-box-shadow: 20px 20px #ffd300;
          box-shadow: 20px 20px #ffd300;
  width: 100%;
  padding: 40px;
  position: absolute;
  bottom: 0;
}

.contactForm button[type=submit]:hover, .contactForm button[type=submit]:focus {
  background: #2b331b;
}

.commentForm {
  width: 100%;
  padding-bottom: 50px;
}

footer {
  background: #0f0f0f;
  text-align: center;
}

footer a:hover, footer a:focus {
  color: #ffd300;
}

/* TODO
        - decrease font-size?
        - increase width that h1 takes up?
        - navBar becomes hamburger menu
            - sliding menu
            - tablet layout (1000px)
    */
/* REVIEW
            - 496px
                - "Restaurant" starts to hide
        */
/* REVIEW
            - 600px
                - becomes 3 lines
        */
@media (max-width: 1317px) {
  .about {
    padding-top: 225px;
  }
  .about figure {
    bottom: 625px;
  }
  .textCard h2 {
    font-size: 3rem;
  }
  .textCard p {
    font-size: 1.6rem;
    padding: 10px 10%;
  }
  .textCard a {
    font-size: 2rem;
    margin: 10px 10%;
  }
  .natureText h2 {
    font-size: 4rem;
  }
}

@media (max-width: 1183px) {
  .about {
    padding-top: 80px;
  }
  .about figure {
    position: static;
    margin: 30px auto 0;
  }
  .blogSection .textCard, .blogSection figure {
    width: 100%;
    margin: 0;
  }
  .blogSection figure {
    height: calc(100vw/4);
  }
  .blogSection figure img {
    width: 50%;
  }
  .blogSection .textCard {
    padding: 0;
  }
  .blogSection .textCard p {
    padding: 10px 0;
  }
  .blogSection .textCard a {
    margin: 10px 0;
  }
  .blogSection .textCard.card2 {
    text-align: right;
  }
  .blogSection .textCard.card3 {
    text-align: left;
  }
  .natureImage {
    width: 40%;
    margin: 0;
  }
  .natureImage img {
    width: 100%;
    bottom: -150px;
    left: 20px;
  }
  .natureText {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .natureText h2 {
    text-align: right;
    padding-left: 52%;
  }
}

@media (max-width: 1000px) {
  .menuToggle {
    visibility: visible;
  }
  .menuToggle label[for=dropDownMenu] {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .navBar {
    background: #ffd300;
    width: 85vw;
    position: fixed;
    top: -300px;
    -webkit-transition: top 1s;
    transition: top 1s;
    z-index: 20;
  }
  .navBar li {
    width: 100%;
  }
  .navBar li a {
    display: inline-block;
    width: 100%;
    color: #171b0e;
    border-bottom: 3px solid #171b0e;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navBar li a:hover, .navBar li a:focus {
    background: #2b331b;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
  }
  header input:checked ~ .navBar {
    top: 0;
  }
  header {
    background-position: 35%;
  }
  .aboutFlex section {
    width: 100%;
  }
  .contest h2, .nature h2 {
    font-size: 2.4rem;
  }
  .contest p, .nature p {
    font-size: 1.6rem;
    padding: 0;
  }
  .findOutMore {
    font-size: 1.8rem;
  }
  .natureImage img {
    bottom: -10px;
    border: 0.5px solid #ffd300;
  }
  .natureText h2 {
    padding: 0;
  }
  .gallery figure {
    width: 100%;
    margin: 20px 0;
  }
  .asideSlide label[for=moreInfo] {
    visibility: visible;
  }
  .asideLabel {
    visibility: visible;
  }
  .blogPageFlex {
    position: relative;
  }
  .blogAside {
    border: 3px solid #ffd300;
    border-left: none;
    width: 55vw;
    position: absolute;
    left: -55vw;
    bottom: 930px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .blogAside h2 {
    font-size: 2rem;
  }
  .blogAside p, .blogAside ul {
    font-size: 1.6rem;
  }
  .blogAsideText {
    padding-top: 36vw;
  }
  input[id=moreInfo]:checked + .blogAside {
    left: 0;
  }
  .blogPage {
    width: 100%;
  }
  .blogPage figure img {
    width: 75%;
  }
  .blogPage .employment {
    border-left: none;
  }
  .contactBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactInfo, .contactFormContainer {
    width: 100%;
  }
  .contactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px;
    text-align: right;
  }
  .contactInfo .mailingAddress {
    margin: 0;
  }
  .contactForm {
    position: static;
  }
}

@media (max-width: 600px) {
  .navBar {
    right: 0;
  }
  h1 {
    font-size: 4rem;
  }
  h1 span {
    height: 4rem;
  }
  .about section h2 {
    font-size: 2.7rem;
  }
  .about section p {
    font-size: 1.6rem;
    text-align: center;
    padding: 0;
  }
  .about figure {
    width: 75vw;
  }
  .blogSection figure img {
    width: 300px;
  }
  .blogSection .textCard.card2,
  .blogSection .textCard.card3 {
    text-align: center;
  }
  .blogSection .textCard.card2 h2,
  .blogSection .textCard.card3 h2 {
    font-size: 2.7rem;
    padding: 0;
  }
  .blogSection .textCard.card2 a,
  .blogSection .textCard.card3 a {
    font-size: 1.6rem;
  }
  .homePageBurger img {
    top: -125px;
  }
  .homePageGazpacho img {
    bottom: auto;
  }
  .natureText h2 {
    text-align: center;
    line-height: 45px;
    padding: 45px 0;
  }
  .natureImage {
    width: 150px;
  }
  .blogPage figure img {
    width: calc(100% - 20px);
  }
  .employment, .comments {
    padding: 25px 20px;
    text-align: center;
  }
  .employment h2, .comments h2 {
    font-size: 3.5rem;
  }
  .employment p, .employment label, .comments p, .comments label {
    font-size: 1.6rem;
  }
  .comments .commentFlex {
    padding: 25px 0;
  }
  .comments .commentFlex figure {
    width: 50%;
    margin: 10px auto;
  }
  .comments .commentFlex .comment {
    width: 100%;
    margin: 0;
  }
  form input {
    width: 100%;
  }
  form input, form textarea {
    margin: 20px 0;
  }
  .blogAside {
    width: 100vw;
    left: -100vw;
    bottom: 1225px;
  }
  .contactBody {
    padding: 80px 0 100px;
  }
  .contactInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
  }
  .contactInfo p {
    font-size: 1.6rem;
  }
  .contactInfo .socialMedia {
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .contactForm {
    padding: 20px;
    -webkit-box-shadow: 15px 15px #ffd300;
            box-shadow: 15px 15px #ffd300;
  }
  body footer {
    font-size: 1.6rem;
  }
  body footer a {
    font-size: inherit;
  }
}

/* REVIEW
    MAYBE USE TRANSITIONS ON THINGS THAT CHANGE?
        - navBar
*/
