html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

main, aside {
  background-color: #2b331b;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

body h3, body p, body footer, body aside ul {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

body a {
  font-size: 2.24rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
  line-height: 41.6px;
}

h1, h2 {
  text-transform: uppercase;
}

nav {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}

h1 {
  font-size: 6.9rem;
  font-weight: 600;
}

h1 span {
  display: inline-block;
  background: #ffffff;
  color: #171b0e;
  height: 6.9rem;
}

h3 {
  font-weight: bold;
}

.heading {
  font-size: 4.5rem;
  font-weight: inherit;
  line-height: 99.8px;
}

.heading--small {
  font-size: 4rem;
  font-weight: inherit;
  line-height: 58px;
  letter-spacing: 1.3px;
}

.contest h2,
.nature h2 {
  text-align: center;
  color: #ffd300;
}

.employment h2,
.comments h3 {
  color: #ffd300;
}

aside h2 {
  font-size: 2.5rem;
  font-weight: inherit;
  color: #ffd300;
  line-height: 58px;
  letter-spacing: 0.8px;
}

header {
  height: 86vh;
}

.homePage {
  background-image: url(../assets/home-header.jpg);
}

.blogPage {
  background-image: url(../assets/blog-header.jpg);
}

.contactPage {
  background-image: url(../assets/contact-header.jpg);
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navBar a {
  text-decoration: none;
  padding: 15px 30px;
  color: inherit;
}

.about .heading {
  position: relative;
  padding-left: 70px;
}

.about .heading::after {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-size: 50px;
  font-weight: 900;
  color: #ffd300;
  position: absolute;
  left: 0;
}

.heading.location::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 16px;
}

.heading.community::before {
  content: "\f0c0";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 9.5px;
}

.heading.blog::before {
  content: "\f15b";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 16px;
}

.heading.phone::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: #2b331b;
  position: absolute;
  z-index: 10;
  left: 12px;
}

.about {
  padding: 200px 0;
  position: relative;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about figure {
  width: 50vw;
  position: absolute;
  right: 0;
  bottom: 650px;
}

.aboutFlex section {
  width: 50%;
}

.aboutFlex section p {
  padding-left: 72px;
  padding-right: 20px;
}

.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #171b0e;
}

.blogSection figure,
.blogSection section {
  width: 50%;
  padding: 50px;
  border: 3px solid peachpuff;
}

.blogSection figure {
  position: relative;
}

.homePageBurger {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  background: #0f0f0f;
  text-align: center;
}
